/* Error: There is no module with the namespace "convert".
 *   ,
 * 6 |   font-size: convert.$pxToRem($font-size);
 *   |              ^^^^^^^^^^^^^^^^
 *   '
 *   style.scss 6:14  article-style()
 *   style.scss 31:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "convert".\a   \2577 \a 6 \2502    font-size: convert.$pxToRem($font-size);\d\a   \2502               ^^^^^^^^^^^^^^^^\a   \2575 \a   style.scss 6:14  article-style()\a   style.scss 31:9  root stylesheet';
}
